In [1]:
5 / 2  #5 in 2 ye tam bolumunun sonucunu verir noktasi virgulune kdr

2.5

In [2]:
5 % 2  # 5 in 2 ye bolumunden kalani veriyor bunun sonucu integar

1

In [5]:
5 // 2 # 5 in 2 ye bolumunden sadece boluneni veriir

2

In [6]:
4 / 2   # burada float veren tek sayilar tam bolunebulenler

2.0

In [7]:
x = 5
x = x + 5
x = x -5
print(x)

5

In [16]:
text = 'hello dear friends'
print(text.split())
print(text.split(" ", 1))

['hello', 'dear', 'friends']
['hello', 'dear friends']

In [21]:
text = 'ahmet' 
print(*text, sep="\n")

a
h
m
e
t

In [22]:
#cumledeki en kisa kelime nedir ve kac karakterden olusuyor.
text = "soru cozumuyle kodlama becerim gelisiyor."
a = text.split()
print(min(a, key=len))

soru

In [23]:
list1 = [1,2,3,4,5]
list2 = list(map(float,list1))
print(list2)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [25]:
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c","d", "e"]

print(dict(zip(list1,list2)))
print(list(zip(list1,list2)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [28]:
list1 = [1,2,3,4]
list2 = ["a", "b", "c"]

print(set(zip(list1,list2)))
print(list(zip(list1,list2)))
print(dict(zip(list1,list2)))

{(1, 'a'), (2, 'b'), (3, 'c')}
[(1, 'a'), (2, 'b'), (3, 'c')]
{1: 'a', 2: 'b', 3: 'c'}

In [29]:
a = ['ahmet', 'seyma', 'omer', 'defne']

new_a = list(enumerate(a, 3000))
print(new_a)

[(3000, 'ahmet'), (3001, 'seyma'), (3002, 'omer'), (3003, 'defne')]

In [34]:
test_list = ["ali", 1 , "veli", 2 , "osman", 3, "ahmet", 4]
name_list = test_list[0::2]
id_list = test_list[1::2]
print(name_list)
print(id_list)

print(dict(zip(id_list,name_list)))

['ali', 'veli', 'osman', 'ahmet']
[1, 2, 3, 4]
{1: 'ali', 2: 'veli', 3: 'osman', 4: 'ahmet'}

In [1]:
numbers = list(map(int,input("enter five number: ").split()))


sec_max = sorted(set(numbers))[-2]
print(numbers)
print(sec_max)

enter five number: -3 -3 -5 6 7
[-3, -3, -5, 6, 7]
6

In [8]:
a = int(input("enter number:"))

if a> 0:
    print("positive")
elif a<0:
    print("negative")
elif a == 0:
    print("number is zero")
else:
    print("pease enter number")

enter number:0
number is zero

In [9]:
email = 'seydailk24@gmail.com'
pswrd = 'd999'
ent_mail = input("enter mail:")
ent_pswrd = input("enter password:")

if (ent_mail != email and ent_pswrd == pswrd):
    print("wrong email adress")
elif(ent_mail == email and ent_pswrd != pswrd):
    print("wrong password")
elif(ent_mail != email and ent_pswrd !=pswrd):
    print("wrong email and password")
else:
    print("login successfull")

enter mail:seydailpksdQgmail.com
enter password:22424
wrong email and password